* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.16rem;
}

.bargain {
  width: 100%;
  position: relative;
}

.bargain .bargain_top {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.bargain .bargain_top i {
  margin-left: 0.2rem;
}

.bargain .bargain_top span {
  margin-left: 2.6rem;
}

.bargain_lists {
  width: 100%;
  height: 100%;
}

.bargain_lists img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.1rem;
}

.bargain_lists .bargain_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.15rem;
}

.bargain_lists .bargain_list .bargain_right {
  width: 50%;
}

.bargain_lists .bargain_list .bargain_right p:nth-child(1) {
  font-size: 0.2rem;
  color: #000;
}

.bargain_lists .bargain_list .bargain_right p:nth-child(2) {
  color: #aaa;
}

.bargain_lists .bargain_list .bargain_right .bargain_right_b {
  display: flex;
  margin-top: 0.2rem;
  justify-content: space-around;
  text-align: center;
}

.bargain_lists .bargain_list .bargain_right .bargain_right_b .minPrice {
  color: red;
  font-weight: bold;
}
