@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.2rem;
}

.header {
  width: 100%;
}

.header .header_top {
  width: 100%;
  height: 1rem;
  position: fixed;
  line-height: 1rem;
  display: flex;
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: #fff;
}

.header .header_top img {
  width: 0.8rem;
  height: 0.8rem;
}

.header .block {
  width: 100%;
  height: 4.5rem;
}

.header .block img {
  width: 100%;
  height: 4.5rem;
}

.header .block .el-carousel__indicators--horizontal {
  bottom: 0.5rem;
}

.nav {
  width: 100%;
  height: 1rem;
  position: relative;
  top: -0.3rem;
  background-color: white;
  border-radius: 30% 30% 0 0;
  z-index: 2;
}

.nav ul {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.nav ul li {
  width: 25%;
}

.nav ul li i {
  font-size: 0.4rem;
}

.nothing {
  height: 0.2rem;
  background-color: #f5f5f5;
}

.kanjia {
  text-align: center;
  padding: 0.1rem;
  font-size: 0.25rem;
  font-weight: bolder;
}

.kanjia i {
  font-size: 0.25rem;
  font-weight: bolder;
}

.first_lists {
  width: 100%;
}

.first_lists .first_list {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border-top: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first_lists .first_list img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1rem;
}

.first_lists .first_list .first_list_right {
  width: 4.5rem;
  text-indent: 0.2rem;
}

.first_lists .first_list .first_list_right .first_list_right_p1 {
  font-weight: bolder;
  margin-bottom: 0.1rem;
}

.first_lists .first_list .first_list_right .first_list_right_gray {
  color: #aaa;
}

.first_lists .first_list .first_list_right .first_list_right_red {
  color: red;
  font-weight: bolder;
}

.first_lists .first_list .first_list_right .first_list_right_small {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.first_lists .first_list .first_list_right .first_list_right_small p {
  margin-top: 0.2rem;
}

.special_lists {
  width: 100%;
  height: 4.5rem;
  overflow: auto;
  display: flex;
}

.special_lists .special_list {
  width: 6rem;
  height: 4.3rem;
  padding: 0.1rem;
}

.special_lists .special_list img {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.05rem;
}

.special_lists .special_list .special_list_title {
  width: 5.5rem;
  font-family: "黑体";
  overflow: hidden;
}

.special_lists .special_list .special_list_descript {
  width: 5.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.1rem;
  font-family: "宋体";
  color: #aaa;
}

.renqi_lists {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.renqi_lists .renqi_list {
  width: 48%;
  height: 4.2rem;
}

.renqi_lists .renqi_list img {
  width: 98%;
}

.renqi_lists .renqi_list div {
  position: relative;
  top: -0.7rem;
  text-indent: 0.05rem;
}

.renqi_lists .renqi_list div p {
  margin-top: 0.02rem;
}

.renqi_lists .renqi_list div .renqi_list_characteristic {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.1rem;
  font-family: "宋体";
  color: #aaa;
}

.renqi_lists .renqi_list div .renqi_list_minPrice {
  color: red;
  font-weight: bold;
}

.renqi_lists .renqi_list:nth-child(3) div {
  position: relative;
  top: 0.15rem;
  text-indent: 0.05rem;
}
