*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.2rem;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
  
    ul {
      display: flex;
      justify-content: space-around;
      border-top: 1px solid #ddd;
      padding: 0.2rem;
      align-items: center;
      text-align: center;
  
      li {
        i {
          font-size: 0.3rem;
        }
  
        width: 25%;
  
      }
    }
  }
  
  .active {
    color: red;
  
    i {
      color: red;
    }
  
    p {
      color: red;
    }
  }